@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  src: url("../fonts/ProductSans-Regular.woff2");
}
@font-face {
  font-family: "Product Sans";
  font-weight: 700;
  src: url("../fonts/ProductSans-Bold.woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2");
}
body {
  background: #f0f0f0;
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}

.btn {
  font-family: inherit;
  font-weight: 400;
}

.card:hover .card-edit {
  opacity: 0.75;
}
.card-edit {
  cursor: pointer;
  height: 25px;
  opacity: 0;
  position: absolute;
  right: 12px;
  top: 12px;
  transition: opacity 0.25s ease;
  width: 25px;
}
.card-title {
  font-family: "Product Sans";
  font-weight: bold;
}
.card .add {
  background: #42b883;
  border-radius: 50%;
  border: none;
  bottom: -18px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 36px;
  justify-content: center;
  line-height: 1;
  place-items: center;
  position: absolute;
  right: 18px;
  text-align: center;
  transition: 0.25s all ease;
  width: 36px;
}
.card .add:hover {
  background: #378d66;
}

.footer-link {
  bottom: 1rem;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: fixed;
  right: 1rem;
  transition: color 0.25s ease;
}
.footer-link:hover {
  color: #378d66;
}

.logo {
  height: 50px;
}

.modal {
  animation: zoomIn 250ms ease-in-out;
}

.note {
  border: 1px solid #dadce0;
  border-radius: 8px;
  cursor: default;
  transition: box-shadow 0.25s ease;
}
.note:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}